
/* ### HAMBURGER DROPDOWN MENU ### */
.hamburger-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.hamburger-button {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* --- HOVER ANIMATION --- */
}

/* --- HOVER ANIMATION --- */
.hamburger-button:hover {
    opacity: 0.75;
}

/* --- HAMBURGER BARS --- */
.hamburger-button > span {
    width: 85px;
    height: 14px;
    background-color: var(--color-secondary);
    border: 2.5px solid var(--color-black);
    border-radius: 25px;
}

/* --- HAMBURGER TEXT --- */
.hamburger-text {
    font-size: 27px;
    font-weight:1000;
    font-family: var(--font-main);
    color: var(--color-secondary);
    -webkit-text-stroke: 1.8px var(--color-black);
    margin-top: -8px;
    width: 85px;
    text-align: center;
}

/* --- HIDES CHECKBOX FOR HAMBURGER --- */
#hamburger-toggle { 
    display: none;
}

.hamburger-menu {
    z-index: 4;
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 0; /* --- HIDES MENU INSTEAD OF display:none --- */
    overflow: hidden; /* ^^^^^^^^^^^^ */
    max-width: fit-content;
    left: 0;
    background-color: var(--color-primary);
    transition: max-height 0.3s ease; /* --- DROPDOWN ANIMATION --- */
    
}

/* --- HOVER ANIMATION --- */
.hamburger-menu-links a {
    transition: opacity 0.3s ease;
}

/* --- HOVER ANIMATION --- */
.hamburger-menu-links a:hover {
    opacity: 0.75;
}

/* --- DROPDOWN MENU BUTTONS --- */
.hamburger-menu a {
    display: block;
    overflow: auto;
    margin: 4rem;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--color-secondary);
    border-radius: 35px;
    border: solid 2px;
    
}

#hamburger-toggle:checked ~ .hamburger-menu {
    display: block;
    max-height: 750px; /* --- OVERLY LARGE VALUE FOR ANIMATION TO WORK --- */
}

/* ### CLICKABLE HEADER LOGO ### */
.header-logo img {
    display: flex;
    flex: 1;
    justify-content: center;
    max-height: 125px;
    margin-top: -2rem;
    margin-bottom: -2rem;
    transition: opacity 0.3s ease; /* --- HOVER ANIMATION --- */
}
 
/* --- HOVER ANIMATION --- */
.header-logo:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* ### HEADER VISIT AND DONATE BUTTONS ### */
.header-buttons {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-shrink: 0; /* --- PREVENTS BUTTON FROM CHANGING SHAPE --- */
    white-space: nowrap; /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ --- */
    right: 2rem;
    gap: 3rem;
    transition: opacity 0.3s ease
}

.header-buttons a {
    background: var(--color-secondary);
    color: var(--color-black);
    border-radius: 2rem;
    border: solid 2px var(--color-black);
    padding: 1rem 2rem;
    font-family: var(--font-main);
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    transition: opacity 0.3s ease /* --- HOVER ANIMATION --- */
}

/* --- HOVER ANIMATION --- */
.header-buttons a:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* ### MAIN PAGE CONTENT LINKS GRID MENU ### */
.main-content-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 350px;
    height: 240px;
    border-radius: 35px;
    background-color: var(--color-primary);
    transition: opacity 0.3s ease /* --- HOVER ANIMATION --- */
}

/* --- HOVER ANIMATION --- */
.main-content-links-container:hover {
    cursor: pointer;
    opacity: 0.75;
}

.main-content-links-container a {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem 3rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-main);
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    color: var(--color-white);
}

.main-content-grid img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: solid 10px var(--color-secondary);
    margin-top: 0.25em;
}

/* ### MAIN PAGE CONTENT LINK VISIT BUTTON ### */
.main-links-visit a {
    background: var(--color-secondary);
    color: var(--color-black);
    border-radius: 4rem;
    border: 3px solid var(--color-black);
    padding: 1.5rem 2.5rem;
    font-family: var(--font-main);
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}

/* --- HOVER ANIMATION --- */
.main-links-visit {
    transition: opacity 0.3s ease
}

/* --- HOVER ANIMATION --- */
.main-links-visit:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* #### BACK BUTTON #### */
.back-button a {
    background: var(--color-secondary);
    color: var(--color-black);
    border-radius: 2rem;
    border: solid 2px var(--color-black);
    padding: 1rem 2rem;
    font-family: var(--font-main);
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    transition: opacity 0.3s ease /* --- HOVER ANIMATION --- */
}

/* --- HOVER ANIMATION --- */
.back-button a:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* ### EXPLORE PAGE CONTENT LINKS MENU ### */
.explore-content-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 210px;
    border-radius: 35px;
    background-color: var(--color-primary);
    transition: opacity 0.3s ease /* --- HOVER ANIMATION --- */
}

/* --- HOVER ANIMATION --- */
.explore-content-links-container:hover {
    cursor: pointer;
    opacity: 0.75;
}

.explore-content-links-container a {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem 2.5rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-main);
    font-size: 1.25em;
    font-weight: bolder;
    text-decoration: none;
    color: var(--color-white);
}

.explore-content-container img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: solid 8px var(--color-secondary);
    margin-top: 0.25em;
}

/* ### GPS MAP BUTTON ### */
.gps-button {
    background: var(--color-secondary);
    color: var(--color-black);
    border-radius: 2rem;
    border: solid 2px var(--color-black);
    padding: 1rem 2rem;
    font-family: var(--font-main);
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    transition: opacity 0.3s ease /* --- HOVER ANIMATION --- */
}

/* --- HOVER ANIMATION --- */
.gps-button:hover {
    cursor: pointer;
    opacity: 0.75;
}


/* ### FOOTER LOGO ### */
.footer-logo {
    position: relative;
    left: 2rem;
    max-height: 100px;
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    transition: opacity 0.3s ease; /* --- HOVER ANIMATION --- */
}
 
/* --- HOVER ANIMATION --- */
.footer-logo:hover {
    cursor: pointer;
    opacity: 0.75;
}

.footer-socials {
    display: flex;  
    position: relative;
    right: 2rem;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.footer-socials a,
.footer-socials i {
    font-size: 3.5rem;
    color: var(--color-secondary);
    -webkit-text-stroke: 0.03em var(--color-black);
    transition: opacity 0.3s ease; /* --- HOVER ANIMATION --- */
}

/* --- HOVER ANIMATION --- */
.footer-socials a:hover,
.footer-socials i:hover {
    opacity: 0.75;
}