
/* --- FLEXBOX LAYOUT FOR RESPONSIVENESS --- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* --- MAKES SURE THAT ELEMENTS INSIDE TAKE UP AT LEAST WHOLE SCREEN --- */
}

/* ### HERO BACKGROUND IMAGE ### */
.hero-image {
    background-image: url(../../assets/images/background.jpg);
    filter: brightness(0.7); /* --- MIMICS IMAGE PROPERTIES FROM FIGMA DESIGN FOR LESS DISTURBANCE --- */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    height: 100vh;
    width: 100vw;

    z-index: -1;
}

header {
    position: relative;
    z-index: 1;
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

body {
    display: grid;
    grid-template-rows:  auto 1fr auto;
}

.h1-container {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: -7rem;
    border-radius: 2rem;
    background-color: var(--color-primary);
    padding: 1rem 2rem;
}

/* ### MAIN PAGE CONTENT LINKS MENU ### */
.main-content-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 3rem 8rem;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/* ### PAGE TOP CONTAINER FOR back-button and h1 ### */
.page-top-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: -7rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 1rem 2rem;
}

/* --- POSITIONING OF back-button --- */
.page-top-container nav {
    justify-self: start;
}

/* --- POSITIONING OF h1 --- */
.page-top-container h1 {
    text-align: center;
    
}

/* ### EXPLORE PAGE CONTENT LINKS MENU ### */
.explore-content-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 3rem 8rem;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 2rem;
}

/* ### PAGE TOP CONTAINER FOR CONSTRUCTION PAGE back-button and h1 ### */
.page-top-container-construction {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 1rem 2rem;
}

/* --- POSITIONING OF back-button --- */
.page-top-container-construction nav {
    justify-self: start;
}

/* --- POSITIONING OF h1 --- */
.page-top-container-construction h1 {
    text-align: center;
    
}

/* ### UNDER CONSTRUCTION PAGE CONTENT ### */
.construction-content-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    gap: 4rem;
    width: 1150px;
    border-radius: 35px;
    background-color: var(--color-primary);
}

/* ### UNDER CONSTRUCTION IMAGE ### */
.construction-img-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    max-width: 500px;
    max-height: 300px;
}

.construction-img-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: solid 8px var(--color-secondary);
}

/* ### VISIT US PAGE ### */
.page-top-conatiner-visit {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.visit-content-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 2rem;
}

/* --- FLEXBOX WRAPPER FOR CENTERING OF BUTTON INSIDE GRID --- */
.gps-button-wrapper {
    display: flex;
    align-items: center;
    margin-top: -8rem;
}

/* --- FORCING infotext-location TO SPAN FULL WIDTH IN GRID LAYOUT --- */
.visit-content-container .visit-infotext-hours {
    grid-column: 1 / -1;
}
.visit-infotext-location span {
    display: block;
}

/* --- STACKING OF TEXT INSIDE span INFOTEXT HOURS --- */
.visit-infotext-hours span {
    display: block;
}

footer {
    position: relative;
    z-index: 1;
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.footer-left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    margin-left: -1.5rem;
}
