
/* --- FLEXBOX LAYOUT FOR RESPONSIVENESS --- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* --- MAKES SURE THAT ELEMENTS INSIDE TAKE UP AT LEAST WHOLE SCREEN --- */
}

/* ### HERO BACKGROUND IMAGE ### */
.hero-image {
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

header {
    position: relative;
    z-index: 1;
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

body {
    display: grid;
    grid-template-rows:  auto 1fr auto;
}

.main-content-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 5rem;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}

footer {
    position: relative;
    z-index: 1;
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.footer-left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}