
/* ### HERO BACKGROUND IMAGE ### */
.hero-image {
    background-image: url(../../assets/images/background.jpg);
    filter: brightness(0.7); /* --- MIMICS IMAGE PROPERTIES FROM FIGMA DESIGN FOR LESS DISTURBANCE --- */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    min-height: 100vh;
    z-index: -1;
}
html,
body {
    width: 100%;
    min-height: 100vh; /* --- MAKES SURE THAT ELEMENTS INSIDE TAKE UP AT LEAST WHOLE SCREEN, PUSHES FOOTER TO BOTTOM --- */
    overflow-x: hidden; /* --- PREVENTS HORIZONTAL SCROLL --- */
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
}

main {
    position: relative;
    flex: 1;
    overflow-y: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.h1-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: var(--color-primary);
    padding: 2rem 4rem;
    text-align: center;
    z-index: 2;
}

/* ### MAIN PAGE CONTENT LINKS MENU ### */
.main-content-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 3rem 8rem;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* ### PAGE TOP CONTAINER FOR back-button and h1 ### */
.page-top-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 2rem;
}

/* --- POSITIONING OF h1 --- */
.page-top-container h1 {
    text-align: center;
    
}

/* ### EXPLORE PAGE CONTENT LINKS MENU ### */
.explore-content-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 3rem 8rem;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* ### UNDER CONSTRUCTION PAGE CONTENT ### */
.construction-content-container {
    display: grid;
    grid-template-columns: auto 1fr ;
    grid-template-rows: auto auto;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    padding-bottom: 3rem;
    gap: 2rem;
    width: 1150px;
    border-radius: 35px;
    background-color: var(--color-primary);
}

/* --- UNDER CONSTRUCTION IMAGE CONTAINER --- */
.construction-img-container {
    grid-column: 1;
    grid-row: 1 / 3;
    max-width: 400px;
    height: 100%;
    max-height: 300px;
}

/* --- UNDER CONSTRUCTION IMAGE --- */
.construction-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: solid 8px var(--color-secondary);
}

.construction-text-container {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.construction-text-container span {
    margin: 0.7rem;
}

.explore-button {
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
    justify-self: center;
}

/* ### VISIT US PAGE ### */
.page-top-conatiner-visit {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.visit-content-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 2rem;
}

/* --- FLEXBOX WRAPPER FOR CENTERING OF BUTTON INSIDE GRID --- */
.gps-button-wrapper {
    display: flex;
    align-items: center;
    margin-top: -8rem;
}

/* --- FORCING infotext-location TO SPAN FULL WIDTH IN GRID LAYOUT --- */
.visit-content-container .visit-infotext-hours {
    grid-column: 1 / -1;
}

.visit-infotext-location span {
    display: block;
}

/* --- STACKING OF TEXT INSIDE span INFOTEXT HOURS --- */
.visit-infotext-hours span {
    display: block;
}

/* ### ABOUT US PAGE CONTENT CONTAINER ### */
.about-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 2rem;
}

/* --- ABOUT US PAGE IMAGE CONTAINER 1 --- */
.about-img-container-1 {
    display: flex;
    width: fit-content;
    height: contain;
    max-width: 400px;
    max-height: 250px;
}

.about-img-container-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: solid 8px var(--color-secondary);
}

/* --- ABOUT US PAGE IMAGE CONTAINER 2 --- */
.about-img-container-2 {
    display: flex;
    width: fit-content;
    height: cover;
    max-width: 400px;
    max-height: 250px;
}

.about-img-container-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: solid 8px var(--color-secondary);
}

/* --- ABOUT US PAGE CONTENT TEXT --- */
.about-text-container-1,
.about-text-container-2 {
    padding: 1rem;
    margin-top: -2rem;
    
}

.about-text-container-1 span {
    display: block;
    gap: 2rem;
    margin-top: 2rem;
}


.about-text-container-2 span {
    display: block;
    gap: 1.5rem;
    margin-top: 2rem;
}

/* ### DONATE PAGE ### */
.donate-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 2rem;
}

.donate-content-container,
.donate-page-button {
    grid-column: 1 / -1;
}

/* --- DONATE IMAGE --- */
.donate-image-conatiner {
    display: flex;
    width: fit-content;
    height: cover;
    max-width: 475px;
    max-height: 290px;
}

.donate-image-conatiner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    border: solid 8px var(--color-secondary);
}

/* --- DONATE PAGE TEXT --- */
.donate-text-container span {
    display: block;
    margin: 0.7rem;
}

/* ### PAYMENT PAGE ### */
.payment-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 2rem;
}

.payment-form-container {
    width: 1000px;
    padding: 40px;
    background-color: var(--color-primary);
    border: 0.8rem solid var(--color-secondary);
    border-radius: 10px;
}

.form-row {
    display: flex;
    gap: 5rem;
}

.form-row,
.form-column {
    flex: 1 1 250px;
}

.form-input-box {
    margin: 2rem 0;
}

.form-column img {
    margin: 2rem 0;
    filter: drop-shadow(0 0 2px var(--color-black));
}

.form-input-box label {
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 3px;
}

.form-input-box input {
    width: 100%;
    padding: 10px 15px;
    border: 4px solid var(--color-secondary);
    border-radius: 6px;
    font-size: 15px;
}

.form-end-container {
    margin-top: 4rem;
}

.confirm-pay-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 4px;
}

/* ### CONFIRMATION PAGE ### */
.confirmation-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1150px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 3rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 2rem;
}

.confirmation-img-container {
    display: block;
    width: cover;
    height: cover;
    max-width: 300px;
    max-height: 300px;
    margin-top: -2rem;
    margin-bottom: -3rem;
    padding: 0;
}

.confirmation-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* --- CONFIRMATION PAGE TEXT --- */
.confirmation-text-container span {
    display: block;
    margin: 0.7rem;
}

/* --- CONFIRMATION PAGE EXPLORE BUTTON --- */
.confirmation-content-container .explore-button {
    margin-bottom: 2rem;
}

/* ### FOOTER ### */
footer {
    position: sticky; /* --- ENSURES BOTTOM POSITION --- */
    bottom: 0; /* --- ENSURES BOTTOM POSITION --- */
    z-index: 1;
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

/* --- CONTAINER FOR FOOTER LOGO AND COPYRIGHT TEXT --- */
.footer-left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    margin-left: -1.5rem;
}
