/* --- RESET FOR CONSISTENT BASELINE STYLING --- */
*, *::before, *::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* --- PREVENTS HORIZONTAL SCROLL --- */
html, body {
    width: 100%;
    overflow-x: hidden;
}