.hamburger-menu a {
    font-family: var(--font-main);
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--color-black);
    text-decoration: none; /* --- REMOVES UNDERLINE --- */
    text-align: center;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: -0.5rem;
    font-family: var(--font-main);
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.001em;
    word-spacing: 1rem;
    line-height: 1em;
}

h1 span {
    display: block;
}

.footer-text {
    position: relative;
    flex-direction: column;
    flex-shrink: 0; /* --- PREVENTS TEXT FROM CHANGING SHAPE --- */
    white-space: nowrap; /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ --- */
    margin-top: -1rem;
    margin-bottom: -1rem;
    font-family: var(--font-main);
    color: var(--color-white);
    letter-spacing: 0.01rem;
    line-height: 1.5;
}

.footer-text span {
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;

}