:root {

    /* --- COLORS --- */
    --color-primary: #4A006C;
    --color-secondary: #3FA752;
    --color-black: #000000;
    --color-white: #FFFFFF;

    /* --- FONTS --- */
    --font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Seoge UI', Roboto, sans-serif;;

    /* --- ADD --btn-padding etc. variables LATER ON --- */
}